<div role="tabpanel" class="tab-pane fade inner cover" id="canada">
  <h1 class="cover-heading">为什么选择加拿大</h1>

  <div class="content">
    <p>
      加拿大的教育花费占了国内生产总值(GDP)的8%左右.在全国各省,所有孩子,包括
      定居和暂居加拿大的都必须接受全日制教育.除了魁北克以法语教学以外,其余
      各省均以英文为学校的主要语言.
    </p>

    <ul class="list-unstyled">
      <li>初级幼儿园： 4岁</li>
      <li>高级幼儿园： 5岁</li>
      <li>小学（1年级至6年级） ： 6岁至11岁</li>
      <li>初中（7年级至9年级） ： 12岁至14岁</li>
      <li>高中（10年级至12年级） ： 15岁至18岁</li>
    </ul>
  </div>

</div> <!-- inner cover -->
