<div role="tabpanel" class="tab-pane fade inner cover" id="flow">

  <h1 class="cover-heading">基本流程</h1>

  <div class="content">
    <ol>
      <li>根据孩子和家庭的情况选择合适的学校</li>
      <li>
        帮您与学校沟通，填写报名表格<br />
        基本准备资料：
        <ol>
          <li>申请人及家长签字的报名申请表</li>
          <li>公证过的成绩单</li>
          <li>公证过的 在读证明 或 毕业证</li>
          <li>雅思或托福成绩（非必要的）</li>
          <li>报名费</li>
        </ol>
      </li>
      <li>等待学校回复 （约2周-3个月）</li>
      <li>收到录取通知书</li>
      <li>缴纳学费</li>
      <li>帮孩子办理学生签证 （约1个月-3个月）<br />
          如有需要，可以帮您办理陪读签证</li>
      <li>帮孩子申请住宿及安排接机</li>
      <li>您的孩子可以到学校报到并入学，开始享受愉快的留学时光</li>
      <li>在留学过程中如有疑惑需要帮助，同样可以联系我们</li>
    </ol>
    <p>
      注意: 若您计划在即将到来的学年入学,申请资料必须在5月31日前(9月开课/第一学期)
      或11月30日前(2月开课/第二学期)集齐呈上
    </p>
  </div>

</div> <!-- inner cover -->
