<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">加拿大星际留学咨询公司</h3>

    <nav>
      <ul class="nav masthead-nav" role="tablist">
        <li role="presentation" class="active">
          <a href="#landing"
             role="tab"
             aria-controls="landing"
             data-toggle="tab"
             data-next="#canada">首页</a>
        </li>

        <li role="presentation">
          <a href="#canada"
             role="tab"
             aria-controls="canada"
             data-toggle="tab"
             data-next="#flow">为什么选择加拿大</a>
        </li>

        <li role="presentation">
          <a href="#flow"
             role="tab"
             aria-controls="flow"
             data-toggle="tab"
             data-next="#contact">基本流程</a>
        </li>

        <li role="presentation">
          <a href="#contact"
             role="tab"
             aria-controls="contact"
             data-toggle="tab">联系我们</a>
        </li>
      </ul>
    </nav>
  </div> <!-- inner -->
</div> <!-- masthead clearfix -->
